**Raw Data Cleaning**

In [1]:
import pandas as pd
import os

Adjust the file path to specific file location when necessary

In [2]:
file_path = r"C:\Users\U1078446\Downloads\Data08052025014548PM7DE0D709A25EA7B1.csv"

df = pd.read_csv(file_path)  

df.head()

,Unnamed: 0,A201-BCP001-BIO0001-TT00026.BIO-BIO-TEM-CTR,A201-BCP001-BIO0001-AIT0024.BIO-DOX-DOX-CTR,A201-BCP001-BIO0001-AIT0022.BIO-PH1-PHZ-CTR,Unnamed: 4
0,Time,Value | First,Value | First,Value | First,NaN
1,6/17/2025 11:45:00 PM,36.93,61.39,6.86,NaN
2,6/18/2025 12:00:00 AM,36.82,58.43,6.87,NaN
3,6/18/2025 12:15:00 AM,36.95,62.15,6.87,NaN
4,6/18/2025 12:30:00 AM,36.94,63.31,6.89,NaN

To remove the 1st row and remove unnecassary columns

In [3]:
# Remove the first row 
df = df.iloc[1:]

# Remove columns that start with 'Unnamed' except for 'Unnamed: 0'
df = df.drop(columns=[col for col in df.columns if col.startswith('Unnamed') and col != 'Unnamed: 0'])

df.head()

,Unnamed: 0,A201-BCP001-BIO0001-TT00026.BIO-BIO-TEM-CTR,A201-BCP001-BIO0001-AIT0024.BIO-DOX-DOX-CTR,A201-BCP001-BIO0001-AIT0022.BIO-PH1-PHZ-CTR
1,6/17/2025 11:45:00 PM,36.93,61.39,6.86
2,6/18/2025 12:00:00 AM,36.82,58.43,6.87
3,6/18/2025 12:15:00 AM,36.95,62.15,6.87
4,6/18/2025 12:30:00 AM,36.94,63.31,6.89
5,6/18/2025 12:45:00 AM,37.06,59.93,6.89

In [4]:
# Rename the first column to 'Time'
df = df.rename(columns={df.columns[0]: 'Time'})
df.head()

,Time,A201-BCP001-BIO0001-TT00026.BIO-BIO-TEM-CTR,A201-BCP001-BIO0001-AIT0024.BIO-DOX-DOX-CTR,A201-BCP001-BIO0001-AIT0022.BIO-PH1-PHZ-CTR
1,6/17/2025 11:45:00 PM,36.93,61.39,6.86
2,6/18/2025 12:00:00 AM,36.82,58.43,6.87
3,6/18/2025 12:15:00 AM,36.95,62.15,6.87
4,6/18/2025 12:30:00 AM,36.94,63.31,6.89
5,6/18/2025 12:45:00 AM,37.06,59.93,6.89

Parse the time column

In [5]:
# Parse the 'Time' column
df['Time'] = pd.to_datetime(df['Time'], format='%m/%d/%Y %I:%M:%S %p', errors='coerce')
df.set_index('Time', inplace=True)
df.sort_index(inplace=True)
df.head()

,A201-BCP001-BIO0001-TT00026.BIO-BIO-TEM-CTR,A201-BCP001-BIO0001-AIT0024.BIO-DOX-DOX-CTR,A201-BCP001-BIO0001-AIT0022.BIO-PH1-PHZ-CTR
Time,,,
2025-06-17 23:45:00,36.93,61.39,6.86
2025-06-18 00:00:00,36.82,58.43,6.87
2025-06-18 00:15:00,36.95,62.15,6.87
2025-06-18 00:30:00,36.94,63.31,6.89
2025-06-18 00:45:00,37.06,59.93,6.89

final check

In [6]:
df.info()
df.head(10)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1154 entries, 2025-06-17 23:45:00 to 2025-06-30 00:00:00
Data columns (total 3 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   A201-BCP001-BIO0001-TT00026.BIO-BIO-TEM-CTR  1154 non-null   object
 1   A201-BCP001-BIO0001-AIT0024.BIO-DOX-DOX-CTR  1154 non-null   object
 2   A201-BCP001-BIO0001-AIT0022.BIO-PH1-PHZ-CTR  1154 non-null   object
dtypes: object(3)
memory usage: 36.1+ KB

,A201-BCP001-BIO0001-TT00026.BIO-BIO-TEM-CTR,A201-BCP001-BIO0001-AIT0024.BIO-DOX-DOX-CTR,A201-BCP001-BIO0001-AIT0022.BIO-PH1-PHZ-CTR
Time,,,
2025-06-17 23:45:00,36.93,61.39,6.86
2025-06-18 00:00:00,36.82,58.43,6.87
2025-06-18 00:15:00,36.95,62.15,6.87
2025-06-18 00:30:00,36.94,63.31,6.89
2025-06-18 00:45:00,37.06,59.93,6.89
2025-06-18 01:00:00,37.10,59.67,6.89
2025-06-18 01:15:00,37.09,63.94,6.89
2025-06-18 01:30:00,37.01,61.75,6.89
2025-06-18 01:45:00,37.02,58.43,6.89
2025-06-18 02:00:00,36.98,59.99,6.89

SAVING THE FILE

In [7]:
original_filename = os.path.basename(file_path)
processed_filename = f"Processed_{original_filename}"
processed_filepath = os.path.join(os.path.dirname(file_path), processed_filename)

df.to_csv(processed_filepath, index=True)