In [7]:
import pandas as pd
import numpy as np
import os
# This script reads a CSV file and creates a DataFrame from it.
# Make sure to adjust the file path to your specific file location.

# EXTRACT

file_path = r"C:\Users\U1078446\Downloads\Data07242025041326PM0857DB658E8D1D2A.csv"

# Read the CSV file into a DataFrame, skipping the first row as it cant read the # header correctly.
df = pd.read_csv(file_path)  

df.head()

,Unnamed: 0,A201-BCP001-BIO0001-TT00026.BIO-BIO-TEM-CTR,A201-BCP001-BIO0001-AIT0030.BIO-CA2-CAP-CTR,A201-BCP001-BIO0001-AIT0024.BIO-DOX-DOX-CTR,A201-BCP001-BIO0001-AIT0022.BIO-PH2-PHZ-CTR,Unnamed: 5
0,Time,Value | First,Value | First,Value | First,Value | First,NaN
1,6/17/2025 11:30:00 PM,37.06,7.87,64.28,6.85,NaN
2,6/18/2025 12:00:00 AM,36.82,7.66,58.43,6.86,NaN
3,6/18/2025 12:30:00 AM,36.94,7.37,63.31,6.88,NaN
4,6/18/2025 1:00:00 AM,37.10,7.10,59.67,6.88,NaN

In [8]:
# TRANSFORM

# Remove the first row 
df = df.iloc[1:]

# Remove columns that start with 'Unnamed' except for 'Unnamed: 0'
df = df.drop(columns=[col for col in df.columns if col.startswith('Unnamed') and col != 'Unnamed: 0'])

df.head()

,Unnamed: 0,A201-BCP001-BIO0001-TT00026.BIO-BIO-TEM-CTR,A201-BCP001-BIO0001-AIT0030.BIO-CA2-CAP-CTR,A201-BCP001-BIO0001-AIT0024.BIO-DOX-DOX-CTR,A201-BCP001-BIO0001-AIT0022.BIO-PH2-PHZ-CTR
1,6/17/2025 11:30:00 PM,37.06,7.87,64.28,6.85
2,6/18/2025 12:00:00 AM,36.82,7.66,58.43,6.86
3,6/18/2025 12:30:00 AM,36.94,7.37,63.31,6.88
4,6/18/2025 1:00:00 AM,37.10,7.10,59.67,6.88
5,6/18/2025 1:30:00 AM,37.01,7.33,61.75,6.88

In [9]:
# Rename the first column to 'Time'
df = df.rename(columns={df.columns[0]: 'Time'})
df.head()

,Time,A201-BCP001-BIO0001-TT00026.BIO-BIO-TEM-CTR,A201-BCP001-BIO0001-AIT0030.BIO-CA2-CAP-CTR,A201-BCP001-BIO0001-AIT0024.BIO-DOX-DOX-CTR,A201-BCP001-BIO0001-AIT0022.BIO-PH2-PHZ-CTR
1,6/17/2025 11:30:00 PM,37.06,7.87,64.28,6.85
2,6/18/2025 12:00:00 AM,36.82,7.66,58.43,6.86
3,6/18/2025 12:30:00 AM,36.94,7.37,63.31,6.88
4,6/18/2025 1:00:00 AM,37.10,7.10,59.67,6.88
5,6/18/2025 1:30:00 AM,37.01,7.33,61.75,6.88

In [10]:
# Parse the 'Time' column
df['Time'] = pd.to_datetime(df['Time'], format='%m/%d/%Y %I:%M:%S %p', errors='coerce')
df.set_index('Time', inplace=True)
df.sort_index(inplace=True)
df.head()

,A201-BCP001-BIO0001-TT00026.BIO-BIO-TEM-CTR,A201-BCP001-BIO0001-AIT0030.BIO-CA2-CAP-CTR,A201-BCP001-BIO0001-AIT0024.BIO-DOX-DOX-CTR,A201-BCP001-BIO0001-AIT0022.BIO-PH2-PHZ-CTR
Time,,,,
2025-06-17 23:30:00,37.06,7.87,64.28,6.85
2025-06-18 00:00:00,36.82,7.66,58.43,6.86
2025-06-18 00:30:00,36.94,7.37,63.31,6.88
2025-06-18 01:00:00,37.10,7.10,59.67,6.88
2025-06-18 01:30:00,37.01,7.33,61.75,6.88

In [11]:
# final check 
df.info()
df.head(10)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 626 entries, 2025-06-17 23:30:00 to 2025-07-01 00:00:00
Data columns (total 4 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   A201-BCP001-BIO0001-TT00026.BIO-BIO-TEM-CTR  626 non-null    object
 1   A201-BCP001-BIO0001-AIT0030.BIO-CA2-CAP-CTR  626 non-null    object
 2   A201-BCP001-BIO0001-AIT0024.BIO-DOX-DOX-CTR  626 non-null    object
 3   A201-BCP001-BIO0001-AIT0022.BIO-PH2-PHZ-CTR  626 non-null    object
dtypes: object(4)
memory usage: 24.5+ KB

,A201-BCP001-BIO0001-TT00026.BIO-BIO-TEM-CTR,A201-BCP001-BIO0001-AIT0030.BIO-CA2-CAP-CTR,A201-BCP001-BIO0001-AIT0024.BIO-DOX-DOX-CTR,A201-BCP001-BIO0001-AIT0022.BIO-PH2-PHZ-CTR
Time,,,,
2025-06-17 23:30:00,37.06,7.87,64.28,6.85
2025-06-18 00:00:00,36.82,7.66,58.43,6.86
2025-06-18 00:30:00,36.94,7.37,63.31,6.88
2025-06-18 01:00:00,37.10,7.10,59.67,6.88
2025-06-18 01:30:00,37.01,7.33,61.75,6.88
2025-06-18 02:00:00,36.98,7.35,59.99,6.88
2025-06-18 02:30:00,37.01,7.64,62.41,6.88
2025-06-18 03:00:00,37.00,7.35,61.04,6.88
2025-06-18 03:30:00,37.01,7.55,61.80,6.88
2025-06-18 04:00:00,37.04,7.82,59.18,6.88

In [12]:
# LOAD
# SAVING THE FILE


original_filename = os.path.basename(file_path)
processed_filename = f"Processed_{original_filename}"
processed_filepath = os.path.join(os.path.dirname(file_path), processed_filename)

df.to_csv(processed_filepath, index=True)